.content {
    text-align: center;
}

.num {
    font-size: 60px;
    color: #3F51B5;
}

.capitalize {
    text-transform: capitalize;
}

.mat-card {
    min-width: 120px;
}

.mat-card-header {
    margin: 0;
    color: #3F51B5;
}

.mat-card-content {
    min-height: 80px;
}