<div id="toggle-group">
    <label class="blue"><input type="radio" (change)="measure('dc')" name="toggle"><span class="flaticon-voltmeter"></span></label>
    <label class="blue"><input type="radio" (change)="measure('ac')" name="toggle"><span class="flaticon-supply"></span></label>
    <label class="blue"><input type="radio" (change)="measure('resistance')" name="toggle"><span class="flaticon-resistor-1"></span></label>
    <label class="blue"><input type="radio" (change)="measure('capacitance')" name="toggle"><span class="flaticon-capacitor"></span></label>
    <label class="blue"><input type="radio" (change)="measure('temperature')" name="toggle"><span class="mdi mdi-thermometer"></span></label>
</div>